{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Мой профиль
{% endblock title %}

{% block content %}

{% if confirm %}
    <div class="alert alert-info" role="alert">
        Ваш профиль был обновлён!
    </div>
{% endif %}

<div class="text-center">
    <img src="{{profile.avatar.url}}" alt="my-profile" class=".avatar-big">
</div>

<br>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary mt-2">Обновить профиль</button>
</form>
{% endblock content %}